/* "MAIN" MAP*/

.mainMainFromMap{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    min-height: 100vh;
    align-content: center;
}
.titleMainMap{
    height: 5%;
    width: 96%;
    position: absolute;
    color: $colorSecundario;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}
.section1FromMap{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
    flex-wrap: wrap;
}
.mapMapMap{
    height: 50%;
    width: 100%; 
}
.mapMapMap iframe{
    height: 100%;
    width: 100%;
}
.sectionMapDescription{
    width: 100%;
    height: 50%;
    color: $colorBackgroundPrincipal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionDescriptionFromMapMain{
    display: flex;
    height: 50%;
    width: 96%;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin: 2%;
}
.descriptionTitleFromMap{
    color: $colorBackgroundPrincipal;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Fira Sans', sans-serif;
}
.paragraphFromTitleFromMap{
    font-family: 'Fira Sans', sans-serif;
    color: $colorBackgroundPrincipal;
}
.mapListMap{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 20%;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}
.titleMapListMap{
    color: $colorBackgroundPrincipal;
    font-family: 'Fira Sans', sans-serif;
}
.ulMapListMap{
    color: $colorBackgroundPrincipal;
    font-family: 'Fira Sans', sans-serif;
    list-style: none;
    margin-top: 2%;
}
.buttonLiMapFromMain{
    color: $colorBackgroundPrincipal;
}
@media only screen and (min-width: 768px){
    /* "MAIN" MAP*/
    
    .mainMainFromMap{
        width: 96%;
        justify-content: space-evenly;
    }
    .titleMainMap{
        height: 3%;
        width: 100%;
        margin-top: 0.2%;
    }
    .section1FromMap{
        height: 90%;
        width: 96%;
        justify-content: space-evenly;
    }
    .mapMapMap{
        height: 100%;
        width: 50%;
    }
    .sectionMapDescription{
        width: 50%;
        height: 100%;
        color: $colorBackgroundPrincipal;
        justify-content: center;
    }
    .sectionDescriptionFromMapMain{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        margin: 2%;
    }
    .mapListMap{
        text-align: left;
        margin-left: 20%;
    }
}